.one{
    height: 80px;
    width: 100%;
    background-color:#72BE44;
   
}

.two{
    height: auto;
    width:100%;
    background-color:white;
}
.four{
    height: 50px;
    width: 100%;
    background-color:#72BE44;
}
.active{
    background-color:  	#98FB98;
}
.img{
 padding-left: 150px;
}
 /*ul{
     list-style-type: none;
     overflow: hidden;
   
     background-color:#fff;
   
}
 li{
    float: left;
  
    
    
}
 li a{
   display:block;
   text-align: center;
   padding: 70px ;
   text-decoration: none;
   margin-top: 60px;  
    
   
}
*/
.five{
    background-color: #CAF5B0;
}


/*footer.footer-area {
    padding-top: 15px;
    
    background-color: #72BE44;
    
    height: auto;
}

*/

            .outset
            {border-style: outset;
                      height: 150px;
                      width: 100%;
                      border-right-style: none;
                      border-left-style: none;
                     
                      padding-top: 10px;
            }
            .eleven{
                 float: left;
                  text-align: left;
            }
            
            .ten{
              background-color: green;
               display: inline-block; 
            }
  
    .affix{
                top:0;
                width: 100%;
                z-index: 999 !important;
            }
            .affix + .container-fluid{
                padding-top: 70px;
            }
            

            .twelve{
               float: right;
              padding-top: 20px;
              padding-right: 50px;
              color: white;
              font-size:medium;
            }
            .thirteen{
               font-size:larger;
               margin-top: 20px;
               background-color:#72BE44;
               width:auto;
            }
            .fourteen{
                margin-top: 30px;
            }
            .fifteen{
              
              padding-top: 30px;
            }
            .sixteen{
              padding-bottom: 5px;  
            }
            
               
           
            .eighteen{
               margin-top: 34px;
               color: white;
            }
            .megamenu{
                width: 775px !important;
                height:200px !important;
                background-color: white!important;
                float: left;
            }
            .border{
                font-family: sans-serif;
                color: maroon;
                border-bottom: 2px solid rgb(200,200,200);
                width:60%;
            }
            .nav{
                padding-top: 25px;
            }
            .megamenu1{
                width: 775px !important;
                height:275px !important;
                background-color: white!important;
                float: left;
            }
            .megamenu2{
                width: 700px !important;
                height:210px !important;
                background-color: white!important;
                float: left;
            }
           
@media (max-width: 600px) {
.carousel-caption {
display: none; 
}
}
